.button{
    width: 100px;
    height: 100px;

}
#grey{
   background-color: grey; color: grey;
}
#white{
    background-color: white;
    color: white;
}
#blue {
    background-color: blue;
    color: blue;
}
#yellow{
    background-color: yellow;
    color: yellow;
}